body {
  background-color: #212121 !important;
  color: #fff !important;
}
.center {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#clock {
  font-size: 5vw;
  background-color: orange;
  padding: 10vw 20vw;
  margin-top: 10px;
  border-radius: 10px;
}
